{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="container">
        <link rel="stylesheet" href="{% static 'home.css' %}">
        <div class="row">
            <div class="col-md-6">
                <div style="box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); padding: 20px;">
                    <h1 class="text-2xl my-4">Update password</h1>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">change password</button>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <img src="{% static 'img4.png' %}" class="img-fluid mt-5">
            </div>
        </div>
    </div>
{% endblock content %}
