{% extends 'base.html' %}
{% load static %}

{% block title %}
Add education
{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'home.css' %}">
<style>
    .form-container {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 20px;
        border-radius: 8px;
        background-color: #ffffff;
    }

    .form-container h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .form-container .form-control {
        margin-bottom: 15px;
    }

    .form-container .btn-primary {
        margin: 10px 3px;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 form-container">
            <h2 class="text-center mb-4">Add your educational details</h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_board_or_univ">Board or university:</label>
                    <input type="text" name="board_or_univ" class="form-control" placeholder="Board Name or University Name" maxlength="200" required id="id_board_or_univ">
                </div>
                <div class="form-group">
                    <label for="id_course">Course:</label>
                    <input type="text" name="course" class="form-control" maxlength="200" placeholder="Course" required id="id_course">
                </div>
                <div class="form-group">
                    <label for="id_school_or_college">School or college:</label>
                    <input type="text" name="school_or_college" class="form-control" placeholder="School Name / College Name" maxlength="300" required id="id_school_or_college">
                </div>
                <div class="form-group">
                    <label for="id_cgpa_or_percent">CGPA or percentage:</label>
                    <input type="number" name="cgpa_or_percent" class="form-control" placeholder="CGPA / Percentage" step="0.01" required id="id_cgpa_or_percent">
                </div>
            
                <div class="text-center">
                    <a href="{% url 'Home:education_details_page' slug %}" class="btn btn-primary">skip</a>
                    <input class="btn btn-primary" type="submit" value="Save">
                    <a href="{% url 'Home:education_details_page' slug %}" class="btn btn-primary">View education</a>
                    
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}