{% extends 'base.html' %}
{%load static%}
{% block title %}
Experience info form
{% endblock %}
{% block content %}
<link rel="stylesheet"href={%static 'home.css' %}></link>
<div class="container mb-3" style="margin-top:50px;">
    <div class="row">
        <div class="col-md-5 mt-3">
        <div class="card-header bg-info mt-2"><strong>Add your projects</strong></div>
           <form  method="POST" enctype="multipart/form-data">
               {% csrf_token %}
               <label for="id_orgainsation">Project Name</label>
               <div class="form-group">
                   <input type="text" class="form-control" placeholder="project name" name="project_name" maxlength="50" required id="id_project_name">
               </div>
               <label for="id_joining_date">Start date</label>
               <div class="form-group">
                   <input type="date" name="project_start_date" required id="id_project_start_date" class="form-control" placeholder="date format yyyy-mm-dd">
               </div>
               <label for="id_ending_date">Ending date:</label>
               <div class="form-group">
                   <input type="date" name="project_end_date" class="form-control" placeholder="date format yyyy-mm-dd"  id="id_project_end_date">
               </div>
               <label for="id_work_experience">Explain your project</label>
               <div class="form-group">
                   <textarea name="project_desc" class="form-control" placeholder="Explain your project here... " cols="40" rows="10" required id="id_project_desc">
                   </textarea>
               </div>

                <input class="button btn-primary" type="submit" value="Save">
                <a href="{% url 'Home:project_details_page' slug %}" class="button btn-primary">check project details</a>

                
               </form>
             {% comment %} <a href="{% url 'home:experience-details' slug %}" class="button btn-warning">Skip</a> {% endcomment %}
        </div>
    </div>


</div>
{%endblock%}