{% extends 'base.html' %}
{% load static %}

{% block title %}
Add project
{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'home.css' %}">
<style>
    .form-container {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 20px;
        border-radius: 8px;
        background-color: #ffffff;
    }

    .form-container h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .form-container .form-control {
        margin-bottom: 15px;
    }

    .form-container .btn-primary {
        margin: 10px 3px;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 form-container">
            <h2 class="text-center mb-4">Add your project details</h2>
            <form  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                 <label for="basic-url" class="form-label">Your project URL</label>
                <div class="input-group mb-3">
                 <input type="text" class="form-control" id="linkedin_url" aria-describedby="basic-addon3"placeholder="Paste your linkedin link...."name="linkedin_url">
                </div> 
             <div class="text-center">
                <a href="{% url 'Home:project_details_page' slug %}" class="btn btn-primary">skip</a>
                 <input class="btn btn-primary" type="submit" value="Save">
                 <a href="{% url 'Home:project_details_page' slug %}" class="btn btn-primary">view project</a>
                 
                </form>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock content %}