{% extends 'base.html' %}
{%load static%}
{% block title %}
    skill form
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'home.css' %}">

<div class="container mb-3" style="margin-top: 50px;">
    <div class="row justify-content-center">
        <div class="col-md-5 text-center">
            <!-- Removed the panel and its contents -->
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-6">
            <div class="card shadow">
                <h2 class="mb-4 text-center">Add your skills</h2>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row justify-content-center">
                            <div class="col-md-5">
                                <label for="id_skill1">Skill:</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Skill Name" required name="skill" maxlength="50" id="id_skill1">
                                </div>
                            </div>
                            <div class="col-md-5">
                                <label for="id_percent1">Percentage:</label>
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="80" step="0.01" name="percent" required id="id_percent1">
                                </div>
                            </div>
                        </div>  
                        <table class="table table-bordered table-hover custom-table">
                            <tr>
                                <th>Skill Name</th>
                                <th>Level Percentage</th>
                            </tr>
                            
                            {% for detail in details %}
                            <tr>
                                <td>{{ detail.skill }}</td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: {{ detail.percent }}%;" aria-valuenow="{{ detail.percent }}" aria-valuemin="0" aria-valuemax="100">{{ detail.percent1 }}%</div>
                                    </div>
                                </td>
                            </tr>
                            
                            
                            {% endfor %}
                        </table>
                       
                        <div class="row justify-content-center">
                            <div class="col-md-12 text-center">
                                <input class="button btn-primary" type="submit" value="Save and continue">
                                {% comment %} <input class="button btn-primary" type="submit" value="Save and continue"> {% endcomment %}
                                <a href="{% url 'Home:skill_details_page' slug %}" class="button btn-primary">Check skills you have added</a>

                            </div>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
