{% extends 'base.html' %}
{%load static%}
{% block title %}
Experience info form
{% endblock %}
{% block content %}
<link rel="stylesheet"href={%static 'home.css' %}></link>
<div class="container mb-3" style="margin-top:50px;">
    <div class="row">
        <div class="col-md-5 mt-3">
        <div class="card-header bg-info mt-2"><strong>Past Experience Form</strong></div>
           <form  method="POST" enctype="multipart/form-data">
               {% csrf_token %}
               <label for="id_orgainsation">Company Name:</label>
               <div class="form-group">
                   <input type="text" class="form-control" placeholder="Company name" name="organisation_name" maxlength="50" required id="id_orgainsation">
               </div>
               <label for="id_post">Post:</label>
               <div class="form-group">
                   <input type="text" class="form-control" placeholder="Position" name="position" maxlength="50" required id="id_position">
               </div>
               <label for="id_joining_date">Joining date:</label>
               <div class="form-group">
                   <input type="date" name="joining_date" required id="id_joining_date" class="form-control" placeholder="date format yyyy-mm-dd">
               </div>
               <label for="id_ending_date">Ending date:</label>
               <div class="form-group">
                   <input type="date" name="ending_date" class="form-control" placeholder="date format yyyy-mm-dd"  id="id_ending_date">
               </div>
               <label for="id_work_experience">Work experience:</label>
               <div class="form-group">
                   <textarea name="work_experience" class="form-control" placeholder="Work experience" cols="40" rows="10" required id="id_work_experience">
                   </textarea>
               </div>

                <input class="button btn-primary" type="submit" value="Save">
                <a href="{% url 'Home:experience_details_page' slug %}" class="button btn-primary">Check experience you have added</a>

                
               </form>
             {% comment %} <a href="{% url 'home:experience-details' slug %}" class="button btn-warning">Skip</a> {% endcomment %}
        </div>
    </div>


</div>
{%endblock%}