{% extends 'base.html' %}
{% block title %}
{%load static%}
Education form
{% endblock %}

{% block content %}
<link rel="stylesheet"href="{% static 'home.css' %}"></link>

<div class="container mb-3" style="margin-top: 50px;">
    <div class="row justify-content-center"> <!-- Added justify-content-center class to center the content -->
        <div class="col-md-5">
            <div class="container text-center"><strong>Tell us about your education</strong></div><br>

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="id_board_or_univ">Board or univ:</label>
                <div class="form-group">
                    <input type="text" name="board_or_univ" class="form-control" placeholder="Board Name or University Name" maxlength="200" required id="id_board_or_univ">
                </div>
                <label for="id_course">Course:</label>
                <div class="form-group">
                    <input type="text" name="course" class="form-control" maxlength="200" placeholder="Course" required id="id_course">
                </div>
                <label for="id_school_or_college">School or college:</label>
                <div class="form-group">
                    <input type="text" name="school_or_college" class="form-control" placeholder="School Name / College Name" maxlength="300" required id="id_school_or_college">
                </div>
                <label for="id_cgpa_or_percent">Cgpa or percent:</label>
                <div class="form-group">
                    <input type="number" name="cgpa_or_percent" class="form-control" placeholder="CGPA / percentage" step="0.01" required id="id_cgpa_or_percent">
                </div>
                <label for="id_cgpa">Cgpa:</label>
                <div class="form-group">
                    <input type="checkbox" name="cgpa" id="id_cgpa">
                </div>
                {% for education in education_details %}
                <p>{{education.board_or_univ}}</p>
                <p>{{education.course}}</p>
                <p>{{education.cgpa_or_percent}}</p>
                {% endfor %}
                <input class="button btn-primary" type="submit" value="Save">
            </form>
            <a href="{% url 'Home:education_details_page' slug %}" class="button btn-primary">view education details</a>
        </div>
    </div>
</div>
{% endblock %}
