{%extends 'base.html' %}
{%load static %}
{%block title%}
Provide your details
{%endblock title%}
{%block content%}
<link rel="stylesheet"href="{% static 'home.css' %}"></link>

  <div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="mb-4">Your expertise</h2>
            <form>
                <div class="row mb-3">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="First name">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Last name">
                    </div>
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="mb-3">
                    <input type="tel" class="form-control" placeholder="Mobile">
                </div>
                <div class="mb-3">
                    <textarea class="form-control" placeholder="About"></textarea>
                </div>
                
                <a href="{%url 'Home:expertise_details_page' %}"><button type="button" class="btn btn-primary btn-lg">Save and continue</button></a>
               
            </form>
        </div>
        <div class="col-md-6">
            <img src="{%static 'img2.png' %}" alt="Image" class="img-fluid">
        </div>
        
    </div>
</div>

  
  
  
      
{%endblock content%}