{% extends 'base.html' %}
{% load static %}

{% block title %}
Add project
{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'home.css' %}">
<style>
    .form-container {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 20px;
        border-radius: 8px;
        background-color: #ffffff;
    }

    .form-container h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .form-container .form-control {
        margin-bottom: 15px;
    }

    .form-container .btn-primary {
        margin: 10px 3px;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 form-container">
            <h2 class="text-center mb-4">Add your project details</h2>
            <form  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="id_orgainsation">Project Name</label>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="project name" name="project_name" maxlength="50" required id="id_project_name">
                </div>
                <label for="id_joining_date">Start date</label>
                <div class="form-group">
                    <input type="date" name="project_start_date" required id="id_project_start_date" class="form-control" placeholder="date format yyyy-mm-dd">
                </div>
                <label for="id_ending_date">Ending date:</label>
                <div class="form-group">
                    <input type="date" name="project_end_date" class="form-control" placeholder="date format yyyy-mm-dd"  id="id_project_end_date">
                </div>
                {% comment %} <label for="basic-url" class="form-label">Your project URL</label>
                <div class="input-group mb-3">
                 <input type="text" class="form-control" id="project_link" aria-describedby="basic-addon3"placeholder="Paste your project link...." required id="id_project_link"name="project_link">
                </div> {% endcomment %}
                <label for="id_work_experience">Explain your project</label>
                <div class="form-group">
                 <textarea name="project_desc" class="form-control" placeholder="Explain your project here..." cols="40" rows="10" required id="id_project_desc" dir="auto"></textarea>
             </div>
             <div class="text-center">
                <a href="{% url 'Home:project_details_page' slug %}" class="btn btn-primary">skip</a>
                 <input class="btn btn-primary" type="submit" value="Save">
                 <a href="{% url 'Home:project_details_page' slug %}" class="btn btn-primary">view project</a>
                 
                </form>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock content %}