{% extends 'base.html' %}
{% load static %}
{% block title %}
Education details
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'home.css' %}">

<div class="container mb-3" style="margin-top: 50px;">
    <div class="container text-center"><strong>Your education details</strong></div><br>

    <table class="table table-bordered table-hover custom-table shadow">
        <tr>
            <th>College Name</th>
            <th>Course Name</th>
            <th>CGPA/Percent</th>
        </tr>
        
        {% for education in education_details %}
        <tr>
            <td>{{ education.board_or_univ }}</td>
            <td>
                {{ education.board_or_univ }}
            </td>
            <td>
                {{ education.cgpa_or_percent }}
            </td>
        </tr>
        {% endfor %}
    </table>

    <div class="text-center mt-3">
        <a href="{% url 'Home:add_education_form' slug %}" class="btn btn-primary mx-2">Add education</a>
        <a href="{% url 'Home:add_experience_form' slug %}" class="btn btn-primary mx-2">Add experience</a>
    </div>
</div>
{% endblock %}
