{% extends 'base.html' %}

{% block title %}
Experience Details
{% endblock %}


{% block content %}

<div class="container mb-3" style="margin-top:20px;">
    <div class="card-header bg-info mt-2"><strong>Your Past Experiences</strong></div>
    <div class="row">
        {% for experience in experience_details %}
        <div class="col-sm-4 mt-3 mb-2">

                <div class="card p-2 bg-white  font-weight-bolder">
                    <div class="card-header bg-light">{{experience.organisation_name}}</div>
                    <div class="card-body text-center text-dark">
                        <div class="card-header bg-light">{{experience.position}}</div>
                      <p class="card-text">{{experience.joining_date}}-{% if details.ending_date == None %} present {% else %} {{experience.ending_date}} {% endif %} </p>
                        <p class="card-text">{{experience.work_experience}}</p>
                    </div>
                    {% comment %} <a class="btn mx-auto btn-outline-dark" href="{% url 'home:update-experience' slug details.organisation_name %}" >edit</a> {% endcomment %}
                    {% comment %} <a class="btn mx-auto  btn-outline-dark" href="{% url 'home:delete-experience' slug details.organisation_name %}" >delete</a> {% endcomment %}
                </div>

        </div>
        {% endfor %}

    </div>
    <a href="{% url 'Home:add_project_form' slug %}" class="button btn-outline-primary">Add project</a>
    {% comment %} <a href="{% url 'home:create' slug %}" class="button btn-warning">Create Portfolio</a> {% endcomment %}

</div>
{% endblock %}