{%load static%}

<nav class="navbar navbar-expand-lg navbar-light ">
  <link rel="stylesheet"href="{% static 'navbar.css' %}"></link>
  <div class="container">
    <a class="navbar-brand" href="#">Build It</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        
      </ul>
      <form class="d-flex">
        
        <a href="{%url 'account_signup' %}"><button type="button" class="btn btn-primary btn-sm mx-3">Sign up</button></a>

        <a href="{%url 'account_login' %}"><button type="button" class="btn btn-primary btn-sm">Sign in</button></a>

      </form>
    </div>
  </div>
</nav>  