{%load static%}
{% load thumbnail %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{portfolio_data.user_info.name}}</title>
    <meta name="description" content="Portfolio Template for Developer" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;
      600;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body>
    <link rel="stylesheet" href="{% static 'portfolio.css' %}"></link>
      <script src="{% static 'index.js' %}"></script>

     {% comment %} <header class="header">
      <div class="header__content">
        <div class="header__logo-container">
          <div class="header__logo-img-cont">
            <img
              src="{{portfolio_data.user_info.profile_picture.url}}"
              
              class="header__logo-img"
            />
          </div>
          <span class="header__logo-sub">{{portfolio_data.user_info.name}}</span>
        </div>
        <div class="header__main">
          <ul class="header__links">
            <li class="header__link-wrapper">
              <a href="./index.html" class="header__link"> Home </a>
            </li>
            <li class="header__link-wrapper">
              <a href="./index.html#about" class="header__link">About </a>
            </li>
            <li class="header__link-wrapper">
              <a href="./index.html#projects" class="header__link">
                Projects
              </a>
            </li>
            <li class="header__link-wrapper">
              <a href="./index.html#contact" class="header__link"> Contact </a>
            </li>
          </ul>
          <div class="header__main-ham-menu-cont">
            <img
              src="{%static 'ham-menu.svg'%}"
              alt="hamburger menu"
              class="header__main-ham-menu"
            />
            <img
              src="{%static 'ham-menu-close.svg'%}"
              alt="hamburger menu close"
              class="header__main-ham-menu-close d-none"
            />
          </div>
        </div>
      </div>
      <div class="header__sm-menu">
        <div class="header__sm-menu-content">
          <ul class="header__sm-menu-links">
            <li class="header__sm-menu-link">
              <a href="./index.html"> Home </a>
            </li>

            <li class="header__sm-menu-link">
              <a href="./index.html#about"> About </a>
            </li>

            <li class="header__sm-menu-link">
              <a href="./index.html#projects"> Projects </a>
            </li>

            <li class="header__sm-menu-link">
              <a href="./index.html#contact"> Contact </a>
            </li>
          </ul>
        </div>
      </div>
    </header>   {% endcomment %}

    <div class="topnav" id="myTopnav">
      <a href="#home" class="active">
        <img src="{{portfolio_data.user_info.profile_picture.url}}"
             class="header__logo-img rounded" style="width: 50px; height: 50px;" >
      </a>
      <a href="#home" style="margin-top:10px;">{{portfolio_data.user_info.name}}</a>
      <a href="#news"style="margin-top:10px;">News</a>
      <a href="#contact"style="margin-top:10px;">Contact</a>
      <a href="#about"style="margin-top:10px;">About</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"style="margin-top:10px;"></i>
      </a>
    </div>
    
    
   
    

    
    <!--working code-->

    {% comment %} <section class="home-hero">
      <div class="home-hero__content">
        <h2 class="heading-primary">Hey, My name is {{portfolio_data.user_info.name}}</h2>
        <div class="home-hero__info">
          <p class="text-primary">
            {{portfolio_data.user_info.about}}
          </p>
        </div>
        <div class="home-hero__cta">
          <a href="./#projects" class="btn btn--bg">Download CV</a>
        </div>
      </div> {% endcomment %}
      {% comment %} <div class="home-hero__mouse-scroll-cont">
        <div class="mouse"></div>
      </div> {% endcomment %}
    {% comment %} </section> {% endcomment %}



    <section class="home-hero">
      <div class="home-hero__content">
        <div class="home-hero__info">
          <h2 class="heading-primary">Hey, My name is {{portfolio_data.user_info.name}}</h2>
          <div class="home-hero__info">
            <p class="text-primary">
              {{portfolio_data.user_info.about}}
            </p>
          </div>
        </div>
        <div class="home-hero__cta">
          <a href="./#projects" class="btn btn--bg">Download CV</a>
        </div>
      </div>
    </section>





    
    <section id="about" class="about sec-pad">
      <div class="main-container">
        <h2 class="heading heading-sec heading-sec__mb-med">
          <span class="heading-sec__main">About Me</span><br><br>
          <span class="heading-sec__sub">
            {{portfolio_data.user_info.about}}
          </span>
        </h2>
        {% comment %} <div class="about__content-skills">
            <h3 class="about__content-title">My Skills</h3>
            {% for skills in portfolio_data.skills %}
            <div class="skills">
              <div class="skills__skill">{{skills.skill}}</div>
              <div class="skills__skill">{{skills.percent}}</div>
            </div>
          </div>
        </div>
      </div> 
      {%endfor%} {% endcomment %}

      <div class="about__content-skills">
        <h2 class="heading heading-sec heading-sec__mb-med">
          <span class="heading-sec__main">SKILLS</span><br><br>
        <div class="skills-container">
          {% for skills in portfolio_data.skills %}
          <div class="card">
            <div class="card__skill">{{skills.skill}}</div>
            <div class="card__progress">
              <div class="progress-bar" style="width: {{skills.percent}}%; height: 15px; background-color: #37b649;">
                <div class="progress-bar__text" style="color: white; font-weight: bold; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">{{skills.percent}}%</div>
              </div>
            </div>
            <div class="card__percent"></div>
          </div>
          {% endfor %}
        </div>
      </div>
      
      <!--TESTING CODE for skill details-->
      {% comment %} {% for skills in portfolio_data.skills %}
<table>
    <thead>
    <tr>
        <th>Qualification</th>
        <th>Board or University</th>
        <th>School Or College</th>
        <th>Percentage / CGPA</th>

    </tr>
    </thead>
    <tr>
        
        <td>{{skills.skill}}</td>
        <td>{{skills.percent}}</td>
       
    </tr>
</table>
{% endfor %}
</div> {% endcomment %}

      <!--TESTING CODE for education details-->
      {% comment %} {% for edu in portfolio_data.education %}
<table>
    <thead>
    <tr>
        <th>Qualification</th>
        <th>Board or University</th>
        <th>School Or College</th>
        <th>Percentage / CGPA</th>

    </tr>
    </thead>
    <tr>
        
        <td>{{edu.board_or_univ}}</td>
        <td>{{edu.course}}</td>
        <td>{{edu.cgpa_or_percent}}</td>
    </tr>
</table>
{% endfor %}
</div> {% endcomment %}

<!--WORK EXPERIENCE CODE-->
<section id="projects" class="projects sec-pad">
  <div class="main-container">
    <h2 class="heading heading-sec heading-sec__mb-bg text-center">
      {% if portfolio_data.experience %}
        <span class="heading-sec__main">WORK EXPERIENCE</span>
      {% endif %}
    </h2>
    <div class="new-card-wrapper">
      {% for experience in portfolio_data.experience %}
        <div class="new-card">
          <div class="new-card-body">
            <h5 class="new-card-title">{{ experience.organisation_name }}</h5>
            <p class="new-card-text">{{experience.position}}.</p>
            <p class="new-card-text">{{experience.work_experience}}.</p>
            <a href="#" class="btn btn-primary btn-gradient">
              {{ experience.joining_date }}-{% if experience.ending_date %}{{ experience.ending_date }}{% else %}current{% endif %}
          </a>        
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
    <!--PROJECT-->
    <section id="projects" class="projects sec-pad">
      <div class="main-container">
        <h2 class="heading heading-sec heading-sec__mb-bg text-center">
          {% if portfolio_data.project %}
            <span class="heading-sec__main">Project</span>
          {% endif %}
        </h2>
        <div class="new-card-wrapper">
          {% for projects in portfolio_data.project %}
            <div class="new-card">
              <div class="new-card-body">
                <h5 class="new-card-title">{{ projects.project_name }}</h5>
                <p class="new-card-text">{{projects.project_desc}}.</p> 
               
                <p class="btn btn-primary btn-gradient">{{ projects.project_start_date }}-{% if projects.project_end_date == None %} present {% else %} {{ projects.project_end_date }} {% endif %}</p><br>
                {% if projects.project_link %}
                <a href="{{ projects.project_link }}" class="btn btn-primary btn-gradient">View Project</a>
            {% endif %}
              </a>          
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
    {% comment %} <section id="projects" class="projects sec-pad">
      <div class="main-container">
        <h2 class="heading heading-sec heading-sec__mb-bg">
          <span class="heading-sec__main">Projects</span>
          <span class="heading-sec__sub">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic facilis
            tempora explicabo quae quod deserunt eius sapiente
          </span>
        </h2>

        <div class="projects__content">
          <div class="projects__row">
            <div class="projects__row-img-cont">
              <img
                src="./assets/jpeg/project-mockup-example.jpeg"
                alt="Software Screenshot"
                class="projects__row-img"
                loading="lazy"
              />
            </div>
            <div class="projects__row-content">
              <h3 class="projects__row-content-title">Project 1</h3>
              <p class="projects__row-content-desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
                facilis tempora, explicabo quae quod deserunt eius sapiente
                praesentium.
              </p>
              <a
                href="./project-1.html"
                class="btn btn--med btn--theme dynamicBgClr"
                target="_blank"
                >Case Study</a
              >
            </div>
          </div>
          <div class="projects__row">
            <div class="projects__row-img-cont">
              <img
                src="./assets/jpeg/project-mockup-example.jpeg"
                alt="Software Screenshot"
                class="projects__row-img"
                loading="lazy"
              />
            </div>
            <div class="projects__row-content">
              <h3 class="projects__row-content-title">Project 2</h3>
              <p class="projects__row-content-desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
                facilis tempora, explicabo quae quod deserunt eius sapiente
                praesentium.
              </p>
              <a
                href="./project-2.html"
                class="btn btn--med btn--theme dynamicBgClr"
                target="_blank"
                >Case Study</a
              >
            </div>
          </div>
          <div class="projects__row">
            <div class="projects__row-img-cont">
              <img
                src="./assets/jpeg/project-mockup-example.jpeg"
                alt="Software Screenshot"
                class="projects__row-img"
                loading="lazy"
              />
            </div>
            <div class="projects__row-content">
              <h3 class="projects__row-content-title">Project 3</h3>
              <p class="projects__row-content-desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
                facilis tempora, explicabo quae quod deserunt eius sapiente
                praesentium.
              </p>
              <a
                href="./project-3.html"
                class="btn btn--med btn--theme dynamicBgClr"
                target="_blank"
                >Case Study</a
              >
            </div>
          </div>
        </div>
      </div>
    </section> {% endcomment %}
    <footer class="footer">
      <div class="footer__content">
        <div class="footer__left">
          <span class="footer__name">{{portfolio_data.user_info.name}}</span>
        </div>
        <div class="footer__right">
          <div class="footer__social-links">
            {% comment %} <a href="#" class="footer__social-link">
              <img src="linkedin.png" alt="LinkedIn" class="footer__social-icon" />
            </a> {% endcomment %}
            <p>copyright 2023</p>
            
           
          </div>
        </div>
      </div>
    </footer>
    
  </body>
  <script src="{%static 'script.js' %}"></script>

</html>
