{% extends 'base.html' %}
{%load static%}
{% block title %}
Experience Details
{% endblock %}

{% block content %}
<link rel="stylesheet"href={%static 'home.css' %}></link>

<div class="container mb-3" style="margin-top:20px;">
    <div class="card-header bg-info mt-2"><strong>Your added projects</strong></div>
    <div class="row">
        {% for project in project_details %}
        <div class="col-sm-4 mt-3 mb-2">

                <div class="card p-2 bg-white  font-weight-bolder">
                    <div class="card-header bg-light">{{project.project_name}}</div>
                    <div class="card-body text-center text-dark">
                        <div class="card-header bg-light">{{project.project_start_date}}</div>
                      <p class="card-text">{{project.project_start_date}}-{% if project.project_end_date == None %} present {% else %} {{project.project_end_date}} {% endif %} </p>
                        <p class="card-text">{{project.project_desc}}</p>
                    </div>
                    {% comment %} <a class="btn mx-auto btn-outline-dark" href="{% url 'home:update-experience' slug details.organisation_name %}" >edit</a> {% endcomment %}
                    {% comment %} <a class="btn mx-auto  btn-outline-dark" href="{% url 'home:delete-experience' slug details.organisation_name %}" >delete</a> {% endcomment %}
                </div>

        </div>
        {% endfor %}

    </div>
    <a href="{% url 'Home:add_project_form' slug %}" class="button btn-primary">Add project</a>
    <a href="{% url 'Home:add_project_form' slug %}" class="button btn-primary">Create portfolio</a>
    {% comment %} <a href="{% url 'home:create' slug %}" class="button btn-warning">Create Portfolio</a> {% endcomment %}

</div>
{% endblock %}