{% extends 'base.html' %}
{% load static %}
{% block title %}
Skills Details
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'home.css' %}">
<style>
    .custom-table {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border: 1px solid #000;
    }

    .skills-heading {
        margin-top: 20px;
        margin-bottom: 10px;
    }
</style>

<div class="container mb-3 " style="margin-top: 50px;">
    {%if details%}
    <h3 class="text-center mt-3 my-4 skills-heading">Your Skills</h3>

    <table class="table table-bordered table-hover custom-table shadow">
        <thead class="thead-dark">
            <tr>
                <th style="text-align: center; padding: 10px;">Skill Name</th>
                <th style="text-align: center; padding: 10px;">Level Percentage</th> 
                <th style="text-align: center; padding: 10px;">Edit</th>
                {% comment %} <th>Delete</th> {% endcomment %}
            </tr>
        </thead>
        <tbody>
            {% for detail in details %}
            <tr>
                <td style="text-align: center; padding: 10px;"><strong>{{ detail.skill }}</strong></td>
                {% comment %} <td style="text-align: center; padding: 10px;">
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: {{ detail.percent }}%;" aria-valuenow="{{ detail.percent }}" aria-valuemin="0" aria-valuemax="100">{{ detail.percent }}%</div>
                    </div>
                </td> {% endcomment %}
                <td style="text-align: center; padding: 14px;">
                    <div class="progress">
                      <div class="progress-bar bg-success" role="progressbar" style="width: {{ detail.percent }}%;" aria-valuenow="{{ detail.percent }}" aria-valuemin="0" aria-valuemax="100">
                        <span style="font-size: 16px;">{{ detail.percent }}%</span>
                      </div>
                    </div>
                  </td>
                  
                {% comment %} <td><a href="{% url 'Home:update_skill' slug detail.skill %}" class="table-data">edit</a></td> {% endcomment %}
                {% comment %} <td><strong>{{ detail.skill }}</strong></td> {% endcomment %}
                <td style="text-align: center; padding: 10px;">
                    <a href="{% url 'Home:update_skill' slug detail.skill %}" class="table-data">
                      <img src="{%static 'edit.png' %}" style="max-width: 25px;
                      height: auto;"alt="Edit" />
                    </a>
                  </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {%endif%}

    <div class="text-center">
        <a href="{% url 'Home:add_skills_form' slug %}" class="btn btn-primary mx-2">Add More Skills</a>
        <a href="{% url 'Home:add_education_form' slug %}" class="btn btn-primary mx-2">Add Education</a>
    </div>
</div>
{% endblock %}
