{% extends 'base.html' %}
{% load static %}

{% block title %}
Skills Details
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'home.css' %}">
<style>
    .custom-table {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border: 1px solid #000;
    }

    .skills-heading {
        margin-top: 20px;
        margin-bottom: 10px;
    }
</style>

<div class="container mb-3 " style="margin-top: 50px;">
    {%if details%}
    <h3 class="text-center mt-3 my-4 skills-heading">Your Skills</h3>

    <table class="table table-bordered table-hover custom-table shadow">
        <thead class="thead-dark">
            <tr>
                <th>Skill Name</th>
                <th>Level Percentage</th>
            </tr>
        </thead>
        <tbody>
            {% for detail in details %}
            <tr>
                <td><strong>{{ detail.skill }}</strong></td>
                <td>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: {{ detail.percent }}%;" aria-valuenow="{{ detail.percent }}" aria-valuemin="0" aria-valuemax="100">{{ detail.percent }}%</div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {%endif%}

    <div class="text-center">
        <a href="{% url 'Home:add_skills_form' slug %}" class="btn btn-primary mx-2">Add More Skills</a>
        <a href="{% url 'Home:add_education_form' slug %}" class="btn btn-primary mx-2">Add Education</a>
    </div>
</div>
{% endblock %}
